name: app-infra-jwendt #UPDATE TO YOUR USER ALIAS

on:
  workflow_dispatch:
  push:
    paths:
      - 'infra/**'
      - '.github/workflows/ie-bank-infra.yml'

env:
  RESOURCE_GROUP_DEV: aguadamillas_students_2
  SUBSCRIPTION_ID_DEV: e0b9cada-61bc-4b5a-bd7a-52c606726b3b
  USER_ALIAS: #Add your student alias here

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Exercise II
      # GitHub action: Write step to checkout code

      # Exercise II
      # GitHub action: Write step to linter main.bicep

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Development'

    steps:
      # Exercise II
      # GitHub action: Write step to checkout code
    
      # Exercise II
      # GitHub action: Write step to login in to Azure. You can use the repository secret AZURE_CREDENTIALS

      # Exercise II
      # GitHub action: Write step to deploy main.bicep file to Azure. You can use the repository secrets DBPASS and DBUSER.
      # Recommended to use your student alias to set the deployment name to avoid conflicts with other student's deployments
